{% extends "base.html" %}
{% load static %}

{% block content %}
    <!-- Shopping cart content -->
    <div class="overlay"></div>
    <div class="container h-100">
        <div class="row my-4 justify-content-center">
            <div class="col-12 col-md-8">
                <h1 class="content-heading">Shopping Cart</h1>
            </div>
        </div>
        {% if cart_items %}
            {% for cart_item in cart_items %}
                <div class="row my-2 justify-content-center">
                    <div class="col-12 col-md-4">
                        {% if cart_item.product.image %}
                        <img src="{{ cart_item.product.image.url }}" class="rounded w-100 my-4" alt="{{ cart_item.product.name }}">
                        {% else %}
                        <img src="{{ MEDIA_URL }}/noimage.png" class="rounded w-100 my-4" alt="{{ cart_item.product.name }}">
                        {% endif %}
                        <h2>{{ cart_item.product.name }}</h2>
                        <p class="small">Price per candle: £{{ cart_item.product.price }}</p>
                        <p class="small">Subtotal: £{{ cart_item.sub_total }}</p>
                    </div>
                    <div class="col-12 col-md-4">
                        <form class="form update-form" action="{% url 'update_cart' cart_item.key %}" method="POST">
                            {% csrf_token %}
                            <div class="form-row">
                                <div class="col-12 mb-3">
                                    <p><strong>Colour:</strong></p>
                                    <select name="colour_id" class="form-control">
                                        {% for colour in colours %}
                                            <option value="{{ colour.id }}" {% if colour.id == cart_item.colour.id %}selected{% endif %} >{{ colour.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="col-12 mb-3">
                                    <p><strong>Fragrance:</strong></p>
                                    <select name="fragrance_id" class="form-control">
                                        {% for fragrance in fragrances %}
                                            <option value="{{ fragrance.id }}" {% if fragrance.id == cart_item.fragrance.id %}selected{% endif %} >{{ fragrance.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="col-12">
                                    <p><strong>Quantity:</strong></p>
                                    <select name="quantity" class="form-control">
                                        {% for quantity in quantities %}
                                            <option value="{{ quantity }}" {% if quantity == cart_item.quantity %}selected{% endif %} >{{ quantity }}</option>                            
                                        {% endfor %}
                                    </select>
                                </div>
                                <button type="button" class="update-btn btn btn-dark mt-5 mr-3">Update</button>
                                <button id="remove_{{ cart_item.key }}" type="button" class="remove-btn btn btn-danger mt-5">Remove</button>
                            </div>
                        </form>
                    </div>
                </div>
                <hr class="w-50">
            {% endfor %}
            <div class="row my-4 justify-content-center">
                    <div class="col-12 col-md-8">
                    <p class="my-0">Subtotal: £{{ total | floatformat:2 }}</p>
                    <p class="my-0 mb-2">Delivery fee: £{{ delivery | floatformat:2 }}</p>
                    <hr class="my-2">
                    <p class="my-0"><strong>Grand total: £{{ grand_total | floatformat:2 }}</strong></p>
                    <hr class="my-2">
                    <div class="my-4"><a href="{% url 'checkout' %}" class="btn btn-dark px-5">Checkout</a></div>
                </div>
            </div>
        {% else %}
            <div class="row my-2 justify-content-center">
                <div class="col-12 col-md-8">
                    <p>Your shopping cart is empty.</p>
                    <div><a href="{% url 'products' %}" class="btn btn-dark">Continue shopping</a></div>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock content %}

{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript">
        // Update line item 
        $(".update-btn").on("click", function() {
            $(this).closest("form").submit();
        });

        // Remove line item
        $(".remove-btn").on("click", function() {
            let itemKey = $(this).attr("id").split("remove_")[1];
            let url = `/cart/remove/${itemKey}/`;
            let data = {
                "csrfmiddlewaretoken": "{{ csrf_token }}",
            };
            $.post(url, data).done(function() {
                location.reload();
            });
        });
    </script>
{% endblock postloadjs %}