@import url("https://fonts.googleapis.com/css2?family=Quintessential&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

/* CSS variables */
:root {
  --font-heading: "Quintessential", Georgia, "Times New Roman", Times, serif;
  --font-body: "Nunito", Arial, Helvetica, sans-serif;
  --colour-first: #a15355;
  --colour-second: #4a764b;
  --colour-third: #323e50;
  --colour-white: #fff;
  --colour-black: #000;
  --bold: 700;
}

/* Global styles */

html {
  min-height: 100vh;
}

body {
  background: center/cover no-repeat
    url(/media/scentifique-homepage-candles.jpg);
  font-family: var(--font-body);
}

h1,
h2,
h3 {
  font-family: var(--font-heading);
  color: var(--colour-white);
}

.content-heading {
  color: var(--colour-black);
}

.nav-active {
  font-weight: var(--bold);
}

.overlay {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: fixed;
  background: white;
  z-index: -1;
}

#hero-message {
  background-color: var(--colour-second);
}

#main-nav {
  background-color: var(--colour-first);
}

#main-nav *,
#contact-details {
  color: var(--colour-white);
}

#site-header,
#contact-details {
  background-color: var(--colour-first);
}

#site-header * {
  color: var(--colour-white);
}

#account-dropdown * {
  color: var(--colour-black);
}

.social-link {
  color: var(--colour-white);
  padding: 0.5rem;
}
