{% load static %}

<!doctype html>
<html lang="en">
    <head>
        {% block meta %}
            <!-- Required meta tags -->
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
            <meta http-equiv="X-UA-Compatible" content="ie=edge">
        {% endblock meta %}

        {% block extra_meta %}
        {% endblock extra_meta %}

        {% block corecss %}
            <!-- Bootstrap CSS -->
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
            <!-- Local css -->
            <link rel="stylesheet" href="{% static 'css/base.css' %}">
            {% endblock corecss %}
        
        {% block extra_css %}
        {% endblock extra_css %}

        {% block corejs %}
            <!-- JQuery, Popper and Bootstrap -->
            <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous"></script>
            <!-- Font Awesome -->
            <script src="https://kit.fontawesome.com/8f0e12a819.js" crossorigin="anonymous"></script>
        {% endblock corejs %}

        {% block extra_js %}
        {% endblock extra_js %}

        <title>Scentifique {% block extra_title %}{% endblock extra_title %}</title>
    </head>
    <body>
        <header>

            <!-- Site header with logo, Account and Cart -->
            <nav class="navbar navbar-expand" id="site-header">
                <div class="container">
                    <a class="navbar-brand" href="/">
                        <h2 id="header-title" class="m-0">Scentifique</h2>
                    </a>
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown">
                            <a id="account" class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
                                <i class="fa-solid fa-user"></i>
                                Account
                            </a>
                            <div aria-labelledby="account" class="dropdown-menu" id="account-dropdown">
                                {% if request.user.is_authenticated %}
                                    <a class="dropdown-item" href="#">User profile</a>
                                    <a class="dropdown-item" href="{% url 'account_logout' %}">Log out</a>
                                {% else %}
                                    <a class="dropdown-item" href="{% url 'account_signup' %}">Register</a>
                                    <a class="dropdown-item" href="{% url 'account_login' %}">Sign in</a>
                                {% endif %}
                            </div>
                        </li>
                        <li class="nav-item">        
                            <a class="nav-link" href="#">
                                <i class="fa-solid fa-bag-shopping"></i>
                                Cart
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>

            <!-- Main navigation menu -->
            <nav class="navbar navbar-expand" id="main-nav">
                <div class="container justify-content-center">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                        <a
                            href="/"
                            class="nav-link {% if request.path == "/" %}nav-active" aria-current="page{% endif %}">Home</a
                        >
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <main>
            {% if messages %}
                <div class="message-container">Message container</div>
            {% endif %}
            {% block page_header %}
            {% endblock page_header %}
            {% block content %}
            {% endblock content %}
        </main>
        {% block postloadjs %}
        {% endblock postloadjs %}
    </body>
</html>
